DEBUG=False
SECRET_KEY='a-not-secure-key'
FRONTEND_REDIRECT='http://localhost:3000'
DB_ENGINE='django.db.backends.postgresql'
DB_NAME='dbname'
DB_USER='user'
DB_PASSWORD='pass'
DB_HOST='localhost'
DB_PORT='5432'
FIELD_ENCRYPTION_KEY='your_encryption_key_generated'
TOKEN_TTL=10
TOKEN_AUTO_REFRESH=True